<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ilab.sfm_if"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>SFM</name>
  <description>
    Speak For Myself App (IF Version) 
  </description>
  <author href="http://ilab.engr.utk.edu/hits/" email="ilab.utk@gmail.com">
    Xueping Li
  </author>

  <plugin name="cordova-plugin-globalization" spec="1.0.1" source="pgb" />

</widget>
